




.contenedor__todo{
    width: 130%;
    max-width: 990px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(0, 128, 255, 0.5);

}







.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}





    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
